.my-app {
  width: 300px;
  margin: 10px;
}

.panel-title {
  padding-left: 15px;
}

.my-collapse {
  transition: height 200ms;
  overflow: hidden;
}

.panel-body {
  height: 100%;
}

.my-select-options-list {
  max-height: 80%;
  margin-top: 10px;
  overflow-y: scroll;
}

.active-filters-list {
  margin-bottom: 10px;
}

.active-filter {
  margin-right: 5px;
}

.my-option {
  display: block;
}

.colored-rectangle {
  width: 150px;
  height: 150px;
  margin: 20px;
}
